.game-info__header {
  position: relative;
  width: 100%;
  height: 30vh;
}

.game-info__header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  mix-blend-mode: darken;
}

.game-info__header-bg {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.game-info__header-title {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.game-info__main {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  margin: 0 4em;
}

.game-info__return-link {
  color: rgba(0, 0, 0, 0.475);
  margin: 1em 0;
}

.game-info__title {
  font-size: 1.5rem;
  margin: 0;
  margin-bottom: 4px;
}

.game-info__about {
  margin: 0;
  margin-bottom: 2em;
}

.read-more {
  font-weight: 500;
  color: #428fdc;
  cursor: pointer;
}

.game-info__meta {
  display: flex;
  justify-content: space-around;
  gap: 1em;
  flex-wrap: wrap;
  margin-bottom: 2em;
}

.meta-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.meta-block > span {
  font-size: 0.875rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.25);
}
.meta-block > p {
  font-size: 1rem;
  margin: 0;
}

.game-info__system {
  margin: 2em 0;
}

@media screen and (min-width: 700px) {
  .game-info__main {
    font-size: 1.2rem;
    margin: 0 6em;
  }

  .game-info__title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 8px;
  }

  .meta-block > span {
    font-size: 1rem;
    font-weight: 600;
  }
  .meta-block > p {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 560px) {
  .game-info__header-title {
    font-size: 2rem;
  }
  .game-info__main {
    margin: 0 2em;
  }
  .game-info__return-link {
    margin-bottom: 0.6em;
  }
  .meta-block > span {
    font-size: 0.75rem;
  }
  .meta-block > p {
    font-size: 0.75rem;
  }
}
